# Ignore everything
*

# This file
!.gitignore

# Nix
!flake.nix
!flake.lock

# Cargo
!Cargo.toml
!Cargo.lock

# Source
!src/
!src/**

# Templates
!templates/
!templates/**

# Migrations
!migrations/
!migrations/**
